[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
requests = "*"
twilio = "*"
pylint = "*"
beautifulsoup4 = "*"
bs4 = "*"
selenium = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
